__pycache__/
*.pyc
.env
OPENAI_API_KEY
config.py
.vscode/
.idea/

saved_jobs.csv
jobs.csv
raw_jobs_debug.csv
matched_jobs_v3.csv
matched_jobs_v3.xlsx
selected_job.csv
manual_jobs.csv
applications.csv
filtered_jobs_debug.csv
parsed_resume.json
notes.txt

tailored_resume.json
tailored_resume.docx
latest_cover_letter.txt
latest_interview_prep.txt

resumes/
cover_letters/
pdf_resumes/
pdf_cover_letters/
interview_prep/